.littleImages {
  height: 2vh;
  width: 2vh;
}
.ourAlbum {
  margin: 5px 20px;
}
.albums {
  text-decoration: underline #48d109;
  font-size: 3vh;
}
.textAlbum {
  display: flex;
  align-items: center;
  text-decoration: underline #48d109;
  color: black;
}
.textAlbum:hover {
  text-decoration: underline #2b7c06;
}
