.link-active {
  font-weight: bold;
  color: white;
  transition: 0.2s;
}
.link-notactive {
  font-weight: regular;
  color: rgb(65, 61, 85);
  transition: 0.2s;
}
header {
  background-color: rgb(13, 11, 27);
  padding: 30px 20px;
  height: 10vh;
}
.all {
  min-height: 100vh;
}
.ourFooter {
  position: sticky;
  top: 100%;
  margin: 20px 100px;
  height: 10vh;
}
.shellFooter {
  display: flex;
  justify-content: space-between;
  border-top: rgb(13, 11, 27) 2px solid;
  font-size: 2vh;
  padding-top: 4vh;
}
.creatorOfSite {
  display: flex;
}
.linkToCreator {
  margin-left: 5px;
  color: black;
}
.linkToBsu {
  color: black;
}
