.loading {
  font-weight: bold;
}
.userInfo {
  margin: 5px 20px;
}
.name {
  color: rgb(13, 11, 27);
  font-weight: 600;
  margin: 5px 0px;
  font-size: 3vh;
}
.username {
  color: rgb(84, 80, 105);
  font-size: 2vh;
}
.email {
  color: rgb(84, 80, 105);
  font-size: 2vh;
}
.site {
  color: rgb(84, 80, 105);
  font-size: 2vh;
}
.albumsOfUser {
  text-decoration: underline #48d109;
  margin-top: 5vh;
}
.albumsOfUsers {
  display: flex;
  align-items: center;
}
.albTit {
  margin: 5px 5px;
  color: black;
  text-decoration: underline #48d109;
  font-size: 2vh;
}
.albTit:hover {
  text-decoration: underline #2b7c06;
}
